/* ========================  CSS VARIABLES ====================*/
:root{
    --white-color: #fff;
    --dark-color: #222;
    --body-bg-color: #fff;
    --section-bg-color: #202834;
    --navigation-item-hover-color: #3b5378;

    --text-shadow: 0 5px 25px rgba(0,0,0,0.1);
    --box-shadow: 0 5px 25px rgba(0 0 0 / 20%);

    --scroll-bar-color: #fff;
    --scroll-thumb-color: #282f4e;
    --scroll-thumb-hover-color: #454f6b;
}

/* =========================================================== */

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
    background: transparent;
    font-family: inherit;
  }
  a{
    text-decoration: none;
  }
  a img {
    border: none;
  }
  
  button,
  a {
    cursor: pointer;
    color: inherit;
  }
  
  textarea {
    resize: none;
  }
  
  button,
  textarea,
  select {
      appearance: none !important;
      border-radius: 0;
    }
    
    /*============CSS RESET IS OVER==============*/
    
body{
    font-family: 'Poppins', sans-serif;
    background-color: var(--body-bg-color);
}
    
#home{
    height: 100vh;
    width: 100%;
    position: relative;

}
#root{
    height: 100vh;
    width: 100%;
    position: relative;
}
/*============header============= */

header{
    position:fixed;
    z-index: 99;
    width: 100%;
    height: 60px;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
}

header .nav-bar{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 200px;
    transition: 0.3s ease;
}

.nav-close-btn, .nav-menu-btn{
    display: none;
}

.nav-bar .logo{
    color: var(--dark-color);
    font-size: 30px;
    font-weight: 600;
    color: var(--white-color);
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    text-shadow: var(--text-shadow);
}

.navigation .nav-items a{
    color: var(--white-color);
    font-size: 16px;
    text-decoration: none;
    text-shadow: var(--text-shadow);
}

.navigation .nav-items a i{
    display: none;    
}

.navigation .nav-items a:not(:last-child){
    margin-right: 45px;
}

/* ============HOME SECTION=============*/


.swiper{
    z-index: 77;
    position: relative;

}

.swiper-slide{
    height: 85vh;
    width: 100%;
    position: relative;
}


.swiper-slide img{
    height: 100vh;
    width: 100%;
    object-fit: cover;
    background-position: center;
    background-size: cover;
    pointer-events: none;
}

.text-content{
    position: absolute;
    top: 25%;
    color: var(--white-color);
    margin: 0 200px;
    transition: 0.3s ease;
    
}

.text-content .title{
    font-size: 4em;
    font-weight: 700;
    text-shadow: var(--text-shadow);
    margin-bottom: 20px;
    transform: translateY(-50px);
    opacity: 0;
}

.swiper-slide-active .text-content .title{
    transform: translateY(0);
    opacity: 1;
    transition: 1s ease;
    transition-delay: 0.3s;
    transition-property: transform, opacity;
}

.text-content .title span{
    font-size: 0.3em;
    font-weight: 300;
}


.text-content p{
    max-width: 700px;
    background: rgba(255,255,255, 0.1);
    backdrop-filter: blur(10px);
    text-shadow: var(--text-shadow);
    padding: 20px;
    border-radius: 10px;
    border-bottom: 1px solid rgba(255,255,255, 0.1);
    border-right: 1px solid rgba(255,255,255, 0.1);
    box-shadow: var(--box-shadow);
    transform: translateX(-80px);
    opacity: 0;

}

.swiper-slide-active .text-content p{
    transform: translateX(0);
    opacity: 1;
    transition: 1s ease;
    transition-delay: 0.3s;

}


.click-btn{
    position: absolute;
    margin-top: 40px;
    background-color: var(--white-color);
    color: var(--dark-color);
    font-size: 1em;
    font-weight: 500;
    padding: 8px 20px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    transform: translateX(-50px);
    opacity: 0;
  }

.swiper-slide-active .text-content .click-btn{
transform: translateX(0);
opacity: 1;
transition: 1s ease;
transition-delay: 0.3s;
}

.click-btn i{
    font-size: 1.6em;
    margin-left: 3px;
    transition: 0.3s ease;

}

.click-btn:hover i{
    transform: translateX(5px);
}

.dark-layer:before{
    content:'';
    position:absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.2);
}

.thumb-container img{
    width: 250px;
    height: 150px;
    border-radius: 5px;
    cursor: pointer;  
    padding: 10px 0;  
}

 .thumb-container{
    display: flex;
    justify-content: center;
    height:150px;
    align-items: center;
    background: #222;
}
 

