/* ========================  CSS VARIABLES ====================*/
:root{
    --white-color: #fff;
    --dark-color: #222;
    --body-bg-color: #fff;
    --section-bg-color: #202834;
    --navigation-item-hover-color: #3b5378;
    --form-bg-color: rgba(0,0,0,0.6);
    --maiin-form-bg-color: rgba(0,0,0,0.5);
    --secondary-color:#3baf9f;
    --menu-icons-hover:rgba(236, 234, 234, 0.383);

    --text-shadow: 0 5px 25px rgba(0,0,0,0.1);
    --box-shadow: 0 5px 25px rgba(0 0 0 / 20%);

    --scroll-bar-color: #fff;
    --scroll-thumb-color: #282f4e;
    --scroll-thumb-hover-color: #454f6b;
}

/* =========================================================== */

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
    background: transparent;
    font-family: inherit;
  }
  a{
    text-decoration: none;
  }
  a img {
    border: none;
  }
  
  button,
  a {
    cursor: pointer;
    color: inherit;
  }
  
  textarea {
    resize: none;
  }
  
  button,
  textarea,
  select {
      appearance: none !important;
      border-radius: 0;
    }
    
    /*============CSS RESET IS OVER==============*/
    
body{
    font-family: 'Poppins', sans-serif;
    background-color: var(--body-bg-color);
}
html{
    scroll-behavior: smooth;
}
#home{
    height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;

}
#root{
    height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;
}
/*============header============= */

header{
    position:fixed;
    z-index: 99;
    width: 100%;
    height: 60px;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    transition: 0.5s ease;
    transition-property: height, backround;
}

header.sticky{
    height: 40px;
    background: rgba(255,255,255, 0.1);
    backdrop-filter: blur(20px);
    border-bottom: 1px solid rgba(255,255,255, 0.1);
}

header .nav-bar{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 200px;
    transition: 0.3s ease;
}

.nav-close-btn, .nav-menu-btn{
    display: none;
}

.nav-bar .logo{
    color: var(--dark-color);
    font-size: 30px;
    font-weight: 600;
    color: var(--white-color);
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    text-shadow: var(--text-shadow);
}

.navigation .nav-items a{
    color: var(--white-color);
    font-size: 16px;
    text-decoration: none;
    text-shadow: var(--text-shadow);
    transition: all 0.3s ease;
}

.navigation .nav-items a i{
    display: none;    
}

.navigation .nav-items a:not(:last-child){
    margin-right: 45px;
}

.navigation .nav-items a:hover{
    color: var(--menu-icons-hover);
}

/* ============HOME SECTION=============*/


.swiper{
    z-index: 77;
    position: relative;

}

.swiper-slide{
    height: 87vh;
    width: 100%;
    position: relative;
}


.swiper-slide img{
    height: 100vh;
    width: 100%;
    object-fit: cover;
    background-position: center;
    background-size: cover;
    pointer-events: none;
}

.text-content{
    position: absolute;
    top: 30%;
    color: var(--white-color);
    margin: 0 200px;
    transition: 0.3s ease;
    
}

.text-content .title{
    font-size: 4em;
    font-weight: 700;
    text-shadow: var(--text-shadow);
    margin-bottom: 20px;
    transform: translateY(-50px);
    opacity: 0;
}

.swiper-slide-active .text-content .title{
    transform: translateY(0);
    opacity: 1;
    transition: 1s ease;
    transition-delay: 0.3s;
    transition-property: transform, opacity;
}

.text-content .title span{
    font-size: 0.3em;
    font-weight: 300;
}


.text-content p{
    max-width: 700px;
    background: rgba(255,255,255, 0.1);
    backdrop-filter: blur(10px);
    text-shadow: var(--text-shadow);
    padding: 20px;
    border-radius: 10px;
    border-bottom: 1px solid rgba(255,255,255, 0.1);
    border-right: 1px solid rgba(255,255,255, 0.1);
    box-shadow: var(--box-shadow);
    transform: translateX(-80px);
    opacity: 0;

}

.swiper-slide-active .text-content p{
    transform: translateX(0);
    opacity: 1;
    transition: 1s ease;
    transition-delay: 0.3s;

}


.click-btn{
    position: absolute;
    margin-top: 40px;
    background-color: var(--white-color);
    color: var(--dark-color);
    font-size: 1em;
    font-weight: 500;
    padding: 8px 20px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    transform: translateX(-50px);
    opacity: 0;
  }

.swiper-slide-active .text-content .click-btn{
transform: translateX(0);
opacity: 1;
transition: 1s ease;
transition-delay: 0.3s;
}

.click-btn i{
    font-size: 1.6em;
    margin-left: 3px;
    transition: 0.3s ease;

}

.click-btn:hover i{
    transform: translateX(5px);
}

.dark-layer:before{
    content:'';
    position:absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.2);
}

.thumb-container img{
    max-width: 330px;
    height: 90px;
    border-radius: 5%;
    cursor: pointer;  
    padding: 10px 10px;  
}

 .thumb-container{
    width: 100%;
    display: flex;
    justify-content: center;
    height:13vh;
    align-items: center;
    background: #222;

}

/* .swiper-slide-active {
    border: 1px solid var(--white-color);
}
 */


.media-icons{
    z-index: 999;
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 45%;
    transform: translateY(-50%);
    margin-left: 90px;
}

.media-icons a{
    color: var(--white-color);
    font-size: 1.5em;
    margin: 10px 0;
}

.media-icons a i{
    transition: all 0.3s ease;

}

.media-icons a i:hover{
    color: var(--menu-icons-hover)
}



/* =======SCROLL BAR======= */

::-webkit-scrollbar{
    width: 10px;
    background: var(--scroll-bar-color);
}

::-webkit-scrollbar-thumb{
    width: 100%;
    background: var(--scroll-thumb-color);
    border-radius: 1.8em;
}

::-webkit-scrollbar-thumb:hover{
    background: var(--scroll-thumb-hover-color);
}

/* ==============RESPONSE DIV==================== */

.response-wrapper{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    max-width: 500px;
    width: 100%;
    background-color: var(--white-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px 20px;
    margin: 0 10px;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
    transition: 0.3s ease;

}

.response-wrapper i{
    position: absolute;
    top: 0;
    right: 0;
    color: #202834;
    font-size: 1.4em;
    padding: 1px 3px;
}

.response-wrapper i:hover{
    color: #434f61;
}



.response-wrapper h1{
    color: #202834;
    font-size: 1.5em;
    margin-bottom: 10px;
}
.response-wrapper p{
    color: #202834;
    font-size: 1.2em;
    margin: 10px 0;
}

.response-wrapper a{
    width: 150px;
    height: 40px;
    font-size: 1em;
    background-color: #3baf9f;
    color: var(--white-color);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.response-wrapper a:hover{
    background-color: #6de6d5;
}

.formBackround:before{
    content:'';
    position:absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.5);

}

/* =========SECOND SECTION======== */

#form{
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url("/pub/img/backround2.jpg");
    background-size: cover;
    background-position: center center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
}

.container{
    max-width: 700px;
    width: 100%;
    padding: 0 20px;
    text-align: center;  
}

.regform{
    width: 100%;
    border-radius:  15px 15px 0 0;    
    background-color: var(--form-bg-color);
    color: var(--white-color);
    padding: 10px 0;  
    box-shadow: var(--box-shadow);    
}

.regform h1{
    font-size: 2em;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.main{
    width: 100%;
    background-color: var(--maiin-form-bg-color);  
    box-shadow: var(--box-shadow);   
}

form{
    width: 100%;
    padding: 30px 40px;
}

.input-field{
    width: 100%;
    margin-bottom: 25px;
    display: flex;
    align-items: center;
    
}

.input-field label{
    width: 250px;
    color: var(--white-color);
    font-size: 1.1em;
    text-align: left;    
}
input, textarea{
    width: calc(100% - 30px);
    background-color: var(--white-color);
    padding: 5px 15px;
    border-radius: 3px;
    outline: none;
    border: solid 1px #d5dbd9;
    transition: all 0.3s ease;
}

textarea{
    resize: none;
    height: 125px;
}

.description{
    margin-bottom: 100px
}

.select{
    position: relative;
    width: calc(100% - 30px);
    background-color: var(--white-color);
    padding: 5px 15px;
    border-radius: 3px;
    outline: none;
    border: solid 1px #d5dbd9;
    transition: all 0.3s ease;
}

input:focus{
    border: 1px solid rgba(0,0,0,0.7);
}
textarea:focus{
    border: 1px solid rgba(0,0,0,0.7);
}
select:focus{
    border: 1px solid rgba(0,0,0,0.7);
}


.input-field .radio{
    font-size: 1.2em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
 /*    padding-left: 0 10px; */
    position: relative;
    cursor: pointer;
 
}
 
/* .radio + .radio{
    margin-left: 10px
}  */
.radio input[type="radio"]{
    display: none;
}

.input-field .checkmark{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: solid 1px #3baf9f;
    display: block;
    position: absolute;
    left: 0;
    top: 7%;
    margin-left: 35px
}


.input-field .radio .checkmark:after{
    content: "";
    height: 8px;
    width: 8px;
    background-color: #3baf9f;
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%) scale(0);
    border-radius: 50%;
    transition: 300ms ease-in-out 0s;

}

.radio input[type="radio"]:checked ~ .checkmark::after{
    transform: translate(-50%,-50%) scale(1);
} 


.button{
    width: 100%;
    display: flex;
    justify-content: space-around;
    color: var(--white-color)
}



#submit{
    width: 200px;
    height: 40px;
    background-color: #3baf9f;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-weight: 500;
    margin: 0 5px;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
    transition: 0.3s ease;

}

#submit:hover{
    background-color: #6de6d5;
}
#delete{
    width: 200px;
    height: 40px;
    border: 2px solid #3baf9f;
    color: #3baf9f;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    margin: 0 5px;
    font-weight: 600;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
    transition: 0.3s ease;

}

#delete:hover{
    border: 2px solid #6de6d5;
    color: #6de6d5;
}


/* =============FOOTER============== */

footer{
    width: 100%;
    position: relative;
    bottom: 0;
/*     background: linear-gradient(to right, #00093c, #2d0b00); */
    background: linear-gradient(to right, #202834, rgba(0,0,0,0.9));
    color: var(--white-color);
    padding: 80px 0 30px;
    font-size: 1em;
    line-height: 20px;
}

.row{
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.col{
    flex-basis: 25%;
    padding: 10px;
}

.col:nth-child(2), .col:nth-child(3){
    flex-basis: 15%;
}

.col .logo{
    color: var(--dark-color);
    font-size: 30px;
    font-weight: 600;
    color: var(--white-color);
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    text-shadow: var(--text-shadow);
}

.subs{
    margin-top: 30px;
}

.col h3{
    width: fit-content;
    margin-bottom: 40px;
    position: relative;
    color: var(--secondary-color);
}

.email{
    width: fit-content;
    border-bottom: 1px solid #ccc;
    margin: 20px 0;
}

ul li{
    list-style: none;
    margin-bottom: 13px;
    
}

#footer ul li i{
    margin-right: 3px;

}

#footer ul li{
    transition: all 0.3s ease;
}


#footer ul li:hover{
    color: var(--menu-icons-hover);
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1); 
}

#footer form{
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    margin-bottom: 50px;
    padding: 0;
}

#footer form i{
    font-size: 18px;

}

#footer form input{
    width: 100%;
    background: transparent;
    color: #ccc;
    border: 0;
    outline: none;
}

#footer button{
    background: transparent;
    border: 0;
    outline: none;
    
}
#footer button i{
    font-size: 1.4em;
    color: #ccc;
}

.social-icons a i{
    border-radius: 50%;
    text-align: center;
    padding: 3px 6px;
    line-height: 40px;
    font-size: 1.2em;
    color: #000; 
    background: var(--white-color); 
    margin-right: 15px;
    transition: .3s all ease;
}

.social-icons a i:hover{
    background-color: var(--menu-icons-hover);
}

hr{
    width: 90%;
    border: 0;
    border-bottom: 1px solid #ccc;
    margin: 25px auto;

}

.copyright{
    text-align: center;
    
}

.underline{
    width: 100%;
    height: 5px;
    background: #767676;
    border-radius: 3px;
    position: absolute;
    top: 25px;
    left: 0;
    overflow: hidden;
}

.underline span{
    width: 20px;
    height: 100%;
    background: var(--white-color);
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 10px;
    animation: moving 2s linear infinite;
}

@keyframes moving{
    0%{
        left: -20px;
    }
    100%{
        left: 100%;
    }
}

/* =============MEDIA QUERY============== */

@media screen and (max-width: 1100px){
    header .nav-bar{
        padding: 0 50px;
    }

    .media-icons{
        top: 42%;
        transform: translateY(-50%);
        right: 0;
        margin-right: 50px;
    }

    .text-content{
        margin: 0 120px 0 50px;
    }
}

@media screen and (max-width: 768px){
    header .nav-bar{
        padding: 5px 20px;
    }

    .media-icons{
        top: 41%;
        transform: translateY(-50%);
        right: 0;
        margin-right: 20px;
    }

    .media-icons a{
        font-size: 1.5em;
    }

    .text-content{
        margin: 0 70px 0 20px;
    }

    .text-content .title{
        font-size: 3em;
    }
    .text-content .title span{
        font-size: 0.35em;
    }
    .text-content p{
        font-size: 0.9em;
    }

    .nav-menu-btn {
        display: block;
        color: var(--white-color);
        font-size: 2.7em;

    }


    .nav-close-btn{
        position: absolute;
        top: 0;
        right: 0;
        font-size: 1.3em;
        margin: 10px;        
        display: block;
        color: var(--dark-color);
    }

    .navigation{
        z-index: 9999;
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        background: rgba(0,0,0,0.25);
        display: flex;
        justify-content: center;
        align-items: center;
        visibility: hidden;
        opacity: 0;
        transition: 0.3s ease;
    }

    .navigation.active{
        visibility: visible;
        opacity: 1;
    }

    .navigation .nav-items{
        position: relative;
        background: var(--white-color);
        width: 400px;
        max-width: 400px;
        display: grid;
        place-content: center;
        margin: 20px;
        padding: 40px;
        border-radius: 20px;
        box-shadow: var(--box-shadow);
        transform: translateY(-200px);
        transition: 0.3s ease;

    }

    .navigation.active .nav-items{
        transform:translateY(0)
    }

    .navigation .nav-items a{
        color: var(--dark-color);
        font-size: 1em;
        margin: 15px 50px;
        transition: 0.3s ease;
    }

    .navigation .nav-items a:hover{
        color: var(--secondary-color);

    }
   
    .navigation .nav-items a i{
        display: inline;
        font-size: 1.3em;
        margin-right: 5px;
    }

    .click-btn{
        font-size: 0.9em;
        padding: 5px 13px
    }

    .regform h1{
        font-size: 1.7em;
    }

    .input-field label{
        font-size: 1em;
    }

    .response-wrapper{
        max-width: 350px;
        width: 100%;

    }

    .response-wrapper h1{
        font-size: 1.3em;
    }
    .response-wrapper p{
        font-size: 1em;
    }



}

@media screen and (max-width: 630px){
    .input-field .checkmark{
        margin-left: 2px
    }

    .input-field .radio{
        font-size: 1em;
        width: 140px;
    }
}

@media screen and (max-width: 420px){
    .input-field{
        flex-direction: column;
        align-items: flex-start;
    }

    .regform h1{
        font-size: 1.3em;
    }

    .input-field label{
        font-size: 0.9em;
    }
    #submit{
        width: 120px;
        height: 30px;  
        font-size: 0.7em;  
    }
    #delete{
        width: 120px;
        height: 30px;  
        font-size: 0.7em;    
    }
    .description{
        margin-bottom: 0;
    }


}
